.row-advantages {

    & .col-xs-12 {
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        padding: 25px;
        margin: 15px 15px 30px 15px;
        border: 1px solid lightgray;
        border-radius: 4px;

        & h2 {
            flex-grow: 1;
        }
    }

    & p {
        font-size: 14px;
        font-weight: 500;
    }
}
