<div class="container-fluid">
    <div class="jumbotron bg-light">
        <h1 class="text-center mb-5">MEAN Stack Application</h1>
        <p class="text-center mb-5 w-75 ml-auto mr-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae ante vel risus
            lobortis iaculis eu et est. Duis vulputate lorem mi. In hac habitasse platea dictumst. Suspendisse vitae
            metus ipsum. In nec placerat est. Cras non nisl libero. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
