<div class="container">
    <div class="jumbotron bg-light">
        <h1 class="text-center mb-5">MEAN Stack Application</h1>
        <h5 class="text-center mb-5">Welcome to the MEAN Stack Application by Pavel Tseluiko</h5>
    </div>

    <div class="row row-advantages">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_Info_center_location_pin_question-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">HTML5 & CSS3</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_Location_map_navigation_pin_settings-57-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">JavaScript (ES5, ES6)</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_Checkmark_done_location_map_place-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">Angular 2+</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_Gps_location_map_navigation_pin_postioning-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">Node.js & Express.js</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_earth_attention_info_warning_destination-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">MongoDB</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="text-center mb-5">
                <img
                    src="https://cdn2.iconfinder.com/data/icons/location-navigation/128/_-Glonass_gps_panels_satellite_solar_space_sputnik-256.png"
                    alt=""
                    width="200"
                >
            </div>
            <h2 class="mb-4">Git, NPM, Github</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
        </div>
    </div>
</div>
