<!-- Modal Register -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Username</label>
                            <input type="text" class="form-control" name="userName" placeholder="Username"
                                   formControlName="userName" minlength="3" maxlength="20" autocomplete="off"/>
                            <div class="alert alert-dismissible fade"
                                 *ngIf="form.controls.userName.errors && form.controls.userName.dirty"
                                 [ngClass]="{'alert-danger show': form.controls.userName.errors}"
                                 role="alert"
                            >
                                <span *ngIf="form.controls.userName.errors?.required">
                                    This field is required!
                                </span>
                                <span
                                    *ngIf="form.controls.userName.errors?.minlength || form.controls.userName.errors?.maxlength || form.controls.userName.errors?.validateUserName">
                                    User Name must be at least 3 characters, but less than 20, and consist of numbers and letters only!
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="userEmail" placeholder="Email"
                               formControlName="userEmail" autocomplete="off" minlength="5" maxlength="30"
                        >
                        <div class="alert alert-dismissible fade show"
                             *ngIf="form.controls.userEmail.errors && form.controls.userEmail.dirty"
                             [ngClass]="{'alert-danger': form.controls.userEmail.errors}"
                             role="alert"
                        >
                                <span *ngIf="form.controls.userEmail.errors?.required">
                                    This field is required!
                                </span>
                            <span
                                *ngIf="form.controls.userEmail.errors?.minlength || form.controls.userEmail.errors?.maxlength || form.controls.userEmail.errors?.validateUserEmail">
                                    E-mail is not valid! It must be at least 5 characters, but less than 30
                                </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="password" class="form-control" name="userPassword" placeholder="Password"
                                   formControlName="userPassword" minlength="8"
                            >
                            <div class="alert alert-dismissible fade show"
                                 *ngIf="form.controls.userPassword.errors && form.controls.userPassword.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userPassword.errors}"
                                 role="alert"
                            >
                                <span *ngIf="form.controls.userPassword.errors?.required">
                                    Password is required!
                                </span>
                                <span *ngIf="form.controls.userPassword.errors?.validateUserPassword">
                                    Password length must be more than 8 characters and must consist of numbers and letters
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" formControlName="userRepeatPassword">
                            <div class="alert alert-dismissible fade show"
                                 *ngIf="form.controls.userRepeatPassword.errors && form.controls.userRepeatPassword.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userRepeatPassword.errors}"
                                 role="alert"
                            >
                                <span *ngIf="form.errors?.matchingPasswords && form.controls.userRepeatPassword.touched">
                                    Password do not much!
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-md-6">
                            <label>City</label>
                            <input type="text"
                                   class="form-control"
                                   name="userCity"
                                   formControlName="userCity"
                            >
                            <div class="alert alert-dismissible fade show"
                                 *ngIf="form.controls.userCity.errors && form.controls.userCity.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userCity.errors}"
                                 role="alert"
                            >
                                <span
                                    *ngIf="form.controls.userCity.errors || form.controls.userCity.errors?.validateUserCity">
                                    Enter a valid City!
                                </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <label>Address</label>
                            <input type="text" class="form-control" name="userAdress" placeholder="1234 Main St" formControlName="userAdress">
                        </div>
                    </div>
                    <div class="form-row" *ngIf="message">
                        <div class="form-group col-md-12">
                            <div class="alert alert-dismissible fade" [ngClass]="messageClass">
                                <span>{{message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-info" (click)="form.reset()">Clear</button>
                    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Login -->
<!--<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" method="post">-->
                <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title">Login</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="form-group">-->
                        <!--<label>Username</label>-->
                        <!--<input type="text"-->
                               <!--class="form-control"-->
                               <!--name="userName"-->
                               <!--placeholder="Username"-->
                               <!--formControlName="userNameLogIn"-->
                        <!--&gt;-->
                        <!--&lt;!&ndash;<div class="alert alert-dismissible fade"&ndash;&gt;-->
                        <!--&lt;!&ndash;*ngIf="form.controls.userNameLogIn.errors && form.controls.userName.dirty"&ndash;&gt;-->
                        <!--&lt;!&ndash;[ngClass]="{'alert-danger show': form.controls.userName.errors}"&ndash;&gt;-->
                        <!--&lt;!&ndash;role="alert"&ndash;&gt;-->
                        <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<span *ngIf="form.controls.userName.errors?.required">&ndash;&gt;-->
                        <!--&lt;!&ndash;This field is required!&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="alert" aria-label="Close">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Password</label>-->
                        <!--<input type="password"-->
                               <!--class="form-control"-->
                               <!--name="userPassword"-->
                               <!--formControlName="userPasswordLogIn"-->
                        <!--&gt;-->
                        <!--&lt;!&ndash;<div class="alert alert-dismissible fade"&ndash;&gt;-->
                        <!--&lt;!&ndash;*ngIf="form.controls.userPasswordLogIn.errors && form.controls.userPasswordLogIn.dirty"&ndash;&gt;-->
                        <!--&lt;!&ndash;[ngClass]="{'alert-danger show': form.controls.userPassword.errors}"&ndash;&gt;-->
                        <!--&lt;!&ndash;role="alert"&ndash;&gt;-->
                        <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<span *ngIf="form.controls.userPasswordLogIn.errors?.required">&ndash;&gt;-->
                        <!--&lt;!&ndash;Password is required!&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="alert" aria-label="Close">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button-->
                        <!--type="reset"-->
                        <!--class="btn btn-info"-->
                    <!--&gt;-->
                        <!--Clear-->
                    <!--</button>-->
                    <!--<button-->
                        <!--type="submit"-->
                        <!--class="btn btn-success"-->
                    <!--&gt;-->
                        <!--Login-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
