<div class="user-form h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 mb-4">Register</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 login-page">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Username</mat-label>
                                <input (blur)="checkUsername()" matInput placeholder="Username" type="text"
                                       formControlName="userName" minlength="3" maxlength="20" autocomplete="off">
                            </mat-form-field>
                            <div class="alert fade show"
                                 *ngIf="(form.controls.userName.errors && form.controls.userName.dirty) || userNameMessage"
                                 [ngClass]="{'alert-danger': form.controls.userName.errors || (userNameStatus == false), 'alert-success': userNameStatus}"
                                 role="alert"
                            >
                                <span *ngIf="form.controls.userName.errors?.required">This field is required!</span>
                                <span
                                    *ngIf="form.controls.userName.errors?.minlength || form.controls.userName.errors?.maxlength || form.controls.userName.errors?.validateUserName">
                                    User Name must be at least 3 characters, but less than 20, and consist of numbers and letters only!
                                </span>
                                <span *ngIf="userNameMessage">{{userNameMessage}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input (blur)="checkEmail()" matInput placeholder="Email" type="email"
                                   formControlName="userEmail" autocomplete="off" minlength="5" maxlength="30">
                        </mat-form-field>
                        <div class="alert fade show"
                             *ngIf="(form.controls.userEmail.errors && form.controls.userEmail.dirty) || emailMessage"
                             [ngClass]="{'alert-danger': form.controls.userEmail.errors || (emailStatus == false), 'alert-success': emailStatus}"
                             role="alert"
                        >
                            <span *ngIf="form.controls.userEmail.errors?.required">This field is required!</span>
                            <span
                                *ngIf="form.controls.userEmail.errors?.minlength || form.controls.userEmail.errors?.maxlength || form.controls.userEmail.errors?.validateUserEmail">
                                E-mail is not valid! It must be at least 5 characters, but less than 30
                            </span>
                            <span *ngIf="emailMessage">{{emailMessage}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password"
                                       formControlName="userPassword" minlength="8">
                            </mat-form-field>
                            <div class="alert fade show"
                                 *ngIf="form.controls.userPassword.errors && form.controls.userPassword.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userPassword.errors}"
                                 role="alert"
                            >
                                <span *ngIf="form.controls.userPassword.errors?.required">
                                    Password is required!
                                </span>
                                <span *ngIf="form.controls.userPassword.errors?.validateUserPassword">
                                    Password length must be more than 8 characters and must consist of numbers and letters
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Confirm Password" type="password"
                                       formControlName="userRepeatPassword" minlength="8">
                            </mat-form-field>
                            <div class="alert fade show"
                                 *ngIf="form.controls.userRepeatPassword.errors && form.controls.userRepeatPassword.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userRepeatPassword.errors}"
                                 role="alert"
                            >
                                <span
                                    *ngIf="form.errors?.matchingPasswords && form.controls.userRepeatPassword.touched">
                                    Password do not much!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" type="text"
                                       formControlName="userCity">
                            </mat-form-field>
                            <div class="alert fade show"
                                 *ngIf="form.controls.userCity.errors && form.controls.userCity.dirty"
                                 [ngClass]="{'alert-danger': form.controls.userCity.errors}"
                                 role="alert"
                            >
                                <span
                                    *ngIf="form.controls.userCity.errors || form.controls.userCity.errors?.validateUserCity">
                                    Enter a valid City!
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" type="text" formControlName="userAdress">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button mat-button type="reset" class="mr-3" (click)="form.reset()">Clear</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
