<div class="user-form h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 mb-4">Login</h1>
            </div>
        </div>
    </div>

    <div class="login-page d-flex align-items-center justify-content-center">
        <div class="user-forms bg-white">
            <form method="post" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="alert alert-dismissible show fade" [ngClass]="alertClass" *ngIf="alertClass">
                    <span>Message: {{responseMessage}}</span>
                </div>
                <div class="form-group">
<!--                    <div class="mat-form-custom-field">-->
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input autocomplete="off" matInput placeholder="Username" type="text" formControlName="userName">
                        </mat-form-field>
<!--                    </div>-->
                </div>
                <div class="form-group">
<!--                    <div class="mat-form-custom-field">-->
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input color="primary" matInput placeholder="Password" type="password"
                                   formControlName="userPassword">
                        </mat-form-field>
<!--                    </div>-->
                </div>
                <div class="d-flex justify-content-end flex-wrap">
                    <button type="reset" mat-stroked-button color="primary" class="mr-3">Reset form</button>
                    <button mat-raised-button color="primary">Login</button>
                </div>
            </form>
        </div>

    </div>
</div>
