<div class="user-form">

    <div class="login-page">
        <div class="row">

            <div class="col-6 col-sm-6">
                <div class="form-bg">
                    <img src="../../../assets/images/bg-01.jpg" alt="aaa">
                </div>
            </div>

            <div class="col-6 col-sm-6">
            </div>

        </div>
    </div>

</div>
























<!--<div class="login-form">-->
    <!--<div class="alert alert-dismissible show fade" [ngClass]="alertClass" *ngIf="alertClass">-->
        <!--<span>Message: {{responseMessage}}</span>-->
    <!--</div>-->
    <!--<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" method="post">-->
        <!--<div class="form-group">-->
            <!--<label>User name</label>-->
            <!--<input formControlName="userName" type="text" name="userName" placeholder="User name"-->
                   <!--class="form-control"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Password</label>-->
            <!--<input formControlName="userPassword" type="password" name="userPassword"-->
                   <!--placeholder="Password" class="form-control"/>-->
        <!--</div>-->
        <!--<div class="d-flex justify-content-between align-items-center">-->
            <!--<a routerLink="/register" class="text-info font-weight-bold">Sign up</a>-->
            <!--<div>-->
                <!--<button type="reset" class="btn btn-outline-secondary mr-3">Clear</button>-->
                <!--<button type="submit" class="btn btn-info">Login</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
