.user-form {
    height: 100%;
    padding-top: 110px;
    display: flex;
    margin-bottom: 110px;
}
.user-form .row {
    height: 100%;
}
.user-form .login-page {
    max-width: 70%;
    margin: auto;
    width: 100%;
    height: 550px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.15);
}
.user-form .form-bg {
    height: 100%;
}
.user-form .form-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
