.mat-card {
    font-family: "Hind Madurai", sans-serif;
}

.example-card {
    width: 100%;
    max-width: 100%;
}

.example-header-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.example-card--image {
    width: calc(100% + 32px);
    height: 300px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 15px;
}

.example-card--image img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.utility-list {
    padding-top: 10px;
}

.utility-list li {
    padding: 0 0 10px 30px;
}

.utility-list li.comments {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em;
}

.utility-list li.date {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em;
}

.mat-card {
    height: 100%;
}

.mat-card,
.mat-card-content {
    display: flex;
    flex-direction: column;
}

.mat-card-content,
.mat-card-content p {
    flex-grow: 1;
}
