<div class="blog-card spring-fever"
     [ngStyle]="{'background': 'url(../../../assets/images/' + blogCard.blogImg + ') center / cover no-repeat'}">
    <a href="blog/post/{{blogCard.blogId}}">
        <div class="title-content">
            <h3>SPRING FEVER</h3>
            <hr/>
            <a href="blog/post/{{blogCard.blogId}}" class="intro">
                {{blogCard.blogTitle}}
            </a>
        </div>
        <div class="card-info">
            {{blogCard.blogDesc}}
        </div>
        <div class="utility-info">
            <ul class="utility-list">
                <li class="comments">{{blogCard.blogComments}}</li>
                <li class="date">{{blogCard.blogDatePublication}}</li>
            </ul>
        </div>
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
    </a>
</div>
