<div class="article">
    <div class="container-fluid">
        <div class="article-image--wrapper">
            <img [src]="'../../../assets/uploads/posts/' + post.postImg" alt="">
        </div>
    </div>

    <div class="container">
        <div class="text-left">
            <h1 class="article--title mb-5">Title: {{post.postTitle}}</h1>
            <p class="text-secondary mb-3">{{post.postDesc}}</p>
            <p class="text-secondary mb-3">Category: {{post.postCategory}}</p>
            <p class="text-secondary mb-3">Published at: {{post.postDatePublication}}</p>
            <p class="text-secondary mb-3">Comments: {{post.postComments}}</p>
            <p class="text-secondary mb-3">Author: {{post.postAuthorName}}</p>
        </div>
    </div>
</div>
