.header-left-side--menu li a,
.header-right-side--menu li a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.header-left-side--menu li a:hover,
.header-left-side--menu li a:focus,
.header-left-side--menu li a:active,
.header-left-side--menu li a.active,
.header-right-side--menu li a:hover,
.header-right-side--menu li a:focus,
.header-right-side--menu li a:active,
.header-right-side--menu li a.active {
    color: gray;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}
