.header-left-side--logo {
    flex-shrink: 0;
}

.header-left-side--menu {
    & li {
        margin-right: 35px;

        & a {
            position: relative;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.5);
            transition: color .25s ease-in;

            &:hover,
            &:focus,
            &:active,
            &.active {
                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}

.header-right-side--menu {
    & li {
        margin-left: 15px;
        line-height: 42px;

        &.item-log_in,
        &.item-sign_up,
        &.item-standard {
            cursor: pointer;

            & button {
                font-weight: 500;
                text-transform: uppercase;
                font-size: 13px;
                padding: 7px 12px;
                color: rgba(0, 0, 0, 0.5);
            }

            & i {
                padding: 0 8px;
            }
        }

        &.item-standard {
            & button,
            & button,
            & button {
                padding: 0 12px;
                line-height: 40px;
                transition: color .25s ease-in;

                &:hover,
                &:active,
                &:focus {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}

.navbar {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);

    & .dropdown-toggle {
        border: none;
        background: none;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        cursor: pointer;

        &.customized-grey {
            color: rgba(0, 0, 0, 0.5);
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    & .dropdown {

        &-item {
            text-transform: capitalize !important;
            font-size: 12px !important;
        }
    }
}
